{% include "base.html" %}


{% block content %}
{% if user.is_authenticated %}
<div class="container sifrant">
{% if elements %}
    
    <p>Iskanje: </p>
    <form action="/sifranti/{{ object_name }}/search/" method="post">
        {% csrf_token %}
        {{ form2 }}
        <input type="submit" value="Isci element" />
    </form>


    <div class="pagination">
        <span class="step-links">
            {% if elements.has_previous %}
                <a href="?page=1">&laquo; Prva</a>
                <a href="?page={{ elements.previous_page_number }}">Prejšna</a>
            {% endif %}
    
            <span class="current">
                Stran {{ elements.number }} od {{ elements.paginator.num_pages }}.
            </span>
    
            {% if elements.has_next %}
                <a href="?page={{ elements.next_page_number }}">Naslednja</a>
                <a href="?page={{ elements.paginator.num_pages }}">Zadnja &raquo;</a>
            {% endif %}
        </span>
    </div>

    <table class="table">
        <tr>
            <td>#</td>
            {% for diff in verbose_names  %}
                {% if not diff == "Veljavnost šifranta" %}
                <td>{{ diff }}</td>
                {% endif %}
                
                
            {% endfor %}
        </tr>
        {% for diff in elements  %}
        <tr>
            <td>{{ forloop.counter |add:elements.start_index |add:"-1" }}</td>
            {% for k, v in diff.items  %}
                {% if not k == "veljaven" %}

                <td>{{ v }}</td>
                {% endif %}
            {% endfor %}

            {% if diff.veljaven %}
            <td>
                <form action="/sifranti/{{ object_name }}/{{ diff.id }}/delete/" method="post">
                    {% csrf_token %} 
                    <button type="submit" class="btn btn-outline-danger">Deaktiviraj</button>
                </form>
            </td>

            {% else %}
            <td>
                <form action="/sifranti/{{ object_name }}/{{ diff.id }}/delete/" method="post">
                    {% csrf_token %} 
                    <button type="submit" class="btn btn-outline-success">Aktiviraj</button>
                </form>
            </td>

            {% endif %}
            
            <td>
                <form action="/sifranti/{{ object_name }}/{{ diff.id }}/" method="get">
                    <button type="submit" class="btn btn-outline-primary">Posodobi</button>
                    
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>

    <p>Dodaj element: </p>
    <form action="/sifranti/{{ object_name }}/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-primary">Dodaj</button>
    </form>
{% else %}
    <p>Dodaj element: </p>
    <form action="/sifranti/{{ object_name }}/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-primary">Dodaj</button>
    </form>
{% endif %}
{% endif %}
</div>
{% endblock %}