{% extends 'base.html' %}
{% block content %}

<div class="container sifrant">
    <h3>Vasi razpisani roki izpitov</h3>
    {% if message %}<h5 class="alert {{ msg_type }}"> {{ message }} </h5>{% endif %}

    <table class="table">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Studijsko leto</th>
                <th scope="col">Predmet</th>
                <th scope="col">Izvajalec</th>
                <th scope="col">Datum</th>
                <th scope="col">Prostor</th>
                <th scope="col">Uredi rok</th>
                <th scope="col">Briši rok</th>
            </tr>
        </thead>

        {% for rok in arr %}

        <tr>
            <td>
                {{forloop.counter}}
            </td>
            <td>
                {{ rok.izvedba_predmeta.studijsko_leto }}
            </td>
            <td>
                {{ rok.izvedba_predmeta.predmet }}
            </td>

            {% if rok.izvedba_predmeta.ucitelj_3 != null %}
            <td>
                {{ rok.izvedba_predmeta.ucitelj_1.ime }}
                {{ rok.izvedba_predmeta.ucitelj_1.priimek }},
                {{ rok.izvedba_predmeta.ucitelj_2.ime }}
                {{ rok.izvedba_predmeta.ucitelj_2.priimek }},
                {{ rok.izvedba_predmeta.ucitelj_3.ime }}
                {{ rok.izvedba_predmeta.ucitelj_3.priimek }}
            </td>
            {% elif rok.izvedba_predmeta.ucitelj_2 != null %}
            <td>
                {{ rok.izvedba_predmeta.ucitelj_1.ime }}
                {{ rok.izvedba_predmeta.ucitelj_1.priimek }},
                {{ rok.izvedba_predmeta.ucitelj_2.ime }}
                {{ rok.izvedba_predmeta.ucitelj_2.priimek }}
            </td>
            {% elif rok.izvedba_predmeta.ucitelj_1 != null %}
            <td>
                {{ rok.izvedba_predmeta.ucitelj_1.ime }}
                {{ rok.izvedba_predmeta.ucitelj_1.priimek }}
            </td>
            {% endif %}

            <td>
                {{ rok.datum|date:'d.m.Y' }}, {{ rok.datum|time:"H:i" }}
            </td>
            <td>{{ rok.prostor_izvajanja }}</td>
            <form action="/izpiti/uredi-rok/" method="post">
                {% csrf_token %}
                <td>
                    <input type="text" id="{{ rok.id }}"  name="rok_id" value="{{rok.id}}" hidden />
                    <input type="text" name="post_type" value="post_type" hidden />
                    <button type="submit" name="dodaj_izpit" class="btn btn-outline-primary mt-2">Uredi</button>
                </td>
            </form>

            <form action="/izpiti/izbrisi-rok/" method="post">
                {% csrf_token %}
                <td>
                    <input type="text" id="{{ rok.id }}"  name="rok_id" value="{{rok.id}}" hidden />
                    <input type="text" name="post_type" value="post_type" hidden />
                    <button type="submit" name="dodaj_izpit" class="btn btn-outline-primary mt-2">Izbriši</button>
                </td>
            </form>
        </tr>
        {% endfor %}

</div>
{% endblock %}
