{% extends 'base.html' %}
{% block content %}

<div class="container sifrant">
    <h3>Seznam ocen</h3>
    <table class="table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" width="20">Zaporedna stevilka</th>
                    <th scope="col">Vpisna stevilka</th>
                    <th scope="col">Priimek in ime</th>
                    <th scope="col">Vrnjena prijava/cas odjave/odjavitelj</th>
                    <th scope="col">Stevilo tock izpita</th>
                    <th scope="col">Ocena izpita</th>
                </tr>
            </thead>
            {% for prijava in arr %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>
                    {{ prijava.predmeti_studenta.vpis.student.vpisna_stevilka }}
                </td>
                <td>
                    {{ prijava.predmeti_studenta.vpis.student.priimek }},
                    {{ prijava.predmeti_studenta.vpis.student.ime }}
                </td>
                <td>
                    {% if prijava.ocena == -1 %}
                    DA/{{ prijava.cas_odjave|date:'d-m-Y' }},{{ prijava.cas_odjave|time:'H:i' }}/{{ prijava.odjavitelj }}
                    {% else %}
                    NE
                    {% endif %}
                </td>
                <td>
                    {% if prijava.ocena == None %}
                    Ocena se ni vpisana
                    {% elif prijava.ocena == -1 %}
                    VP
                    {% else %}
                    {{ prijava.ocena }}
                    {% endif %}
                </td>
                <td>
                    {% if prijava.ocena_izpita == None %}
                    Ocena se ni vpisana
                    {% else %}
                    {{ prijava.ocena_izpita }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

            <div>
                <ul class="pagination">

                    {% if arr.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ arr.previous_page_number }}" class="page-link">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                    {% endif %}

                    {% for pg in arr.paginator.page_range %}
                    {% if arr.number == pg %}
                    <li class="page-item active">
                        <!--pag ne dela, ker POST['id_rok'] v view -->
                        <a class="page-link">{{pg}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page={{pg}}" class="page-link">{{pg}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}


                    {% if arr.has_next %}
                    <li class="page-item">
                        <a href="?page={{ arr.next_page_number }}" class="page-link">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                    </li>
                    {% endif %}


                </ul>
            </div>

</div>

{% endblock %}
