{% extends 'base.html' %}
{% block content %}

<div class="container sifrant">
    <h3>Vnesi ocene</h3>

    <table class="table">
        <table class="table">
            
                <tr>
                    <th scope="col">Vpisna stevilka</th>
                    <th scope="col">Priimek in ime</th>
                    <th scope="col">Ocena</th>
                    <th scope="col">Vpisi oceno</th>
                    <th scope="col">Trenutna ocena</th>
                </tr>
            </thead>
            {% for prijava in arr %}
            <tr>
                <td>
                    {{ prijava.predmeti_studenta.vpis.student.vpisna_stevilka }}
                </td>
                <td>
                    {{ prijava.predmeti_studenta.vpis.student.priimek }},
                    {{ prijava.predmeti_studenta.vpis.student.ime }}
                </td>

                <form action="/izpiti/vnesi_ocene_predmeta/" method="post">
                    {% csrf_token %}
                    <td>
                        {% for field in form %}
                        <input type="number" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value="{{ field.value }}" class="btn btn-outline-primary mt-2" />
                        {% endfor %}
                    </td>

                    <td>
                        <input type="hidden" name="id_prijava" value={{ prijava.id }}>
                        <input type="hidden" name="id_rok" value={{ prijava.rok.id }}>

                        {% if prijava.ocena == None %}
                        <button type="submit" name="vnos_ocene" class="btn btn-outline-primary mt-2">Vnos ocene</button>
                        {% else %}
                        <button type="submit" name="vnos_ocene" class="btn btn-outline-primary mt-2">Posodobi oceno</button>
                        {% endif %}
                    </td>
                </form>
                <td>
                    {% if prijava.ocena == None %}
                    Ocena se ni vpisana
                    {% else %}
                    {{ prijava.ocena }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

            <button type="submit" name="vnesi_vec_ocen" onclick="myFunction()" class="btn btn-outline-primary mt-2">Vnos vseh vpisanih ocen</button>

</div>

{% endblock %}
