{% extends 'base.html' %}
{% block content %}

<div class="container sifrant">
    <h3>Vnesi ocene</h3>
    
    <table class="table">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Vpisna stevilka</th>
                <th scope="col">Priimek in ime</th>
                <th scope="col">Vrnjena prijava</th>
                <th scope="col">Vnesi tocke izpita</th>
                <th scope="col">Stevilo tock izpita</th>
            </tr>
            </thead>
            <form action="/izpiti/vnesi_ocene_predmeta/" method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                {% for prijava in arr %}
                {% if forloop.counter == forloop.parentloop.counter %}
                <tr>
                    <td>
                        {{ prijava.predmeti_studenta.vpis.student.vpisna_stevilka }}
                    </td>
                    <td>
                        {{ prijava.predmeti_studenta.vpis.student.priimek }},
                        {{ prijava.predmeti_studenta.vpis.student.ime }}
                    </td>
                    <td>
                        {{ form.odjava }}
                    </td>
                    <td>
                        {{ form.ocena }}
                    </td>
                    <td>
                        {% if prijava.ocena == None %}
                        Ocena se ni vpisana
                        {% else %}
                        {{ prijava.ocena }}
                        {% endif %}
                    </td>
                </tr>

                {% endif %}
                {% endfor %}
                {% endfor %}

                <input type="hidden" name="id_rok" value={{ rok_id }}>
                <button type="submit" name="vnesi_vec_ocen" class="btn btn-outline-primary mt-2">Vnos vseh vpisanih ocen</button>
            </form>
            <form action="/izpiti/seznam_ocen/" method="post">
                {% csrf_token %}
                <input type="hidden" name="id_rok" value={{ rok_id }}>
                <button type="submit" name="seznam_ocen" class="btn btn-outline-primary mt-2">Seznam ocen</button>
            </form>
</div>

{% endblock %}
