<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}" />
    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>

    <title>{% block title %}Title{% endblock %}</title>
	
</head>
<body>

    <div class="parent-rotated">         
        <div class="rotated3"></div>         
        <div class="rotated4"></div>     
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class=container>
            <a class="navbar-brand" href="/">Studis</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Domov</a>
                    </li>

                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="/sifranti/">Šifranti</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/student/uvoz">Uvoz študentov</a>
                    </li>
                    {% endif %}

                    {% if user.groups.all.0.name == "professors" or user.groups.all.0.name == "referent" %}
                    <li class="nav-item">
                        <a class="nav-link" href="/student/">Študenti</a>
                    </li>
                    {% endif %}

                    {% if user.groups.all.0.name == "students" %}
                    <li class="nav-item">
                        <a class="nav-link" href="/student/">Moji podatki</a>
                    </li>
                    {% endif %}

                    {% if user.groups.all.0.name == "students" or user.groups.all.0.name == "candidates"  %}
                    <li class="nav-item">
                        <a class="nav-link" href="/vpis/">Vpis</a>
                    </li>
                    {% endif %}


                    {% if user.groups.all.0.name == "professors" or user.groups.all.0.name == "referent" %}
                    <li class="nav-item">
                        <a class="nav-link" href="/izpiti/">Izpiti</a>
                    </li>
                    {% endif %}

                    {% if user.groups.all.0.name == "referent" %}
                    <li class="nav-item">
                        <a class="nav-link" href="/student/potrdi_studente/">Potrdi studente</a>
                    </li>
                    {% endif %}

                    {% if user.groups.all.0.name == "students"%}
                    <li class="nav-item">
                        <a class="nav-link" href="/izpiti/prijava">Prijava na izpit</a>
                    </li>
                    {% endif %}

                    {% if user.groups.all.0.name == "professors" or user.groups.all.0.name == "referent" %}
                    <li class="nav-item">
                        <a class="nav-link" href="/izpiti/vnesi_ocene/">Izberi rok</a>
                    </li>
                    {% endif %}

                </ul>
                <ul class="navbar-nav ml-auto">
                    <span class="navbar-text mr-4">
                        {{ user.first_name }} {{ user.last_name }}
                        <img src="{% static 'images/profile.png' %}" width="20" height="20" alt="">
                    </span>

                    <li class="nav-item">
                        <a class="nav-link hover-img" href="{% url 'logout' %}">Odjava <img src="{% static 'images/logout.png' %}" width="20" height="20" alt=""></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>