<head>
    <meta charset="UTF-8">
  
  </head>
<p>&nbsp;</p>
<table style="width: 726px;">
<tbody>
<tr>
<td style="width: 324px;">
<h2>&nbsp;VPISNI LIST 2014/2015</h2>
<h4>za &scaron;tudente</h4>
<p>Fakulteta za računalni&scaron;tvo in informatiko</p>
</td>
<td style="width: 420px;">&nbsp;<img style="float: left;" src="https://www.uni-lj.si/mma_bin.php?id=2013071011092329" alt="" width="127" height="129" /></td>
</tr>
</tbody>
</table>
<table style="height: 136px;" width="723">
<tbody>
<tr style="height: 19.6px;">
<td style="width: 172px; height: 19.6px;">
<p>Vpisna &scaron;tevilka:</p>
<h4><strong>12345678</strong></h4>
</td>
<td style="width: 174.4px; height: 19.6px;">
<p>&nbsp;Kraj rojstva:</p>
<p>Ljubljana</p>
</td>
<td style="width: 175.2px; height: 19.6px;">
<p>&nbsp;Država, občina rojstva</p>
<p>Slovenija, Ljubljna</p>
</td>
<td style="width: 175.2px; height: 19.6px;">&nbsp;</td>
</tr>
<tr style="height: 25px;">
<td style="width: 172px; height: 25px;">
<p>&nbsp;EM&Scaron;O:</p>
<p>1234567890123</p>
</td>
<td style="width: 174.4px; height: 25px;">
<p>&nbsp;e-po&scaron;ta:</p>
<p>aljaz.verlic@gmail.com</p>
</td>
<td style="width: 175.2px; height: 25px;">
<p>&nbsp;telefon:</p>
<p>040747258</p>
</td>
<td style="width: 175.2px; height: 25px;">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="height: 45px; width: 720.8px;">
<tbody>
<tr>
<td style="width: 235px;">Stalno bivali&scaron;če</td>
<td style="width: 147px;">Bleiweisova 123</td>
<td style="width: 324.8px; text-align: right;">država, občina, po&scaron;ta</td>
</tr>
<tr>
<td style="width: 235px;">Začasno bivali&scaron;če</td>
<td style="width: 147px;">Morska 12</td>
<td style="width: 324.8px; text-align: right;">država, občina, po&scaron;ta</td>
</tr>
</tbody>
</table>
<table style="width: 719.4px; background-color: silver;">
<tbody>
<tr>
<td style="width: 724.4px;">PODATKI O VPISU:</td>
</tr>
</tbody>
</table>
<table style="width: 716.4px;">
<tbody>
<tr>
<td style="width: 721.4px;">&Scaron;tudijski program:</td>
</tr>
<tr>
<td style="width: 721.4px;">studijski_program</td>
</tr>
</tbody>
</table>
<table style="width: 714.4px;">
<tbody>
<tr>
<td style="width: 719.4px;">Vrsta &scaron;tudija:</td>
</tr>
<tr>
<td style="width: 719.4px;">vrsta_studija</td>
</tr>
</tbody>
</table>
<table style="width: 710px;">
<tbody>
<tr>
<td style="width: 310.8px;">Vrsta vpisa</td>
<td style="width: 196.2px;">Letnik</td>
<td style="width: 217px;">Način in oblika &scaron;tudija</td>
</tr>
<tr>
<td style="width: 310.8px;">vrsta_vpisa / dodatno leto</td>
<td style="width: 196.2px;">2.letnik</td>
<td style="width: 217px;">redni, neki</td>
</tr>
</tbody>
</table>
<table style="width: 380.4px;">
<tbody>
<tr>
<td style="width: 387.4px;">&Scaron;tudijsko leto prveha vpisa v ta &scaron;tudijski program</td>
</tr>
<tr>
<td style="width: 387.4px;">2011/2012</td>
</tr>
</tbody>
</table>
<table style="width: 711.4px; background-color: silver;">
<tbody>
<tr>
<td style="width: 706.4px;">PREDMETNIK</td>
</tr>
</tbody>
</table>
<table style="width: 698px;">
<tbody>
<tr>
<td style="width: 204px;">Učitelj</td>
<td style="width: 436px;">Učna enota</td>
<td style="width: 143px;">&Scaron;tevilo KT</td>
</tr>
<tr>
<td style="width: 204px;">ucitelj</td>
<td style="width: 436px;">predmet</td>
<td style="width: 143px;">krediti</td>
</tr>
</tbody>
</table>