{% include "base.html" %}


{% block content %}

<div class="container sifrant" style="width:40%; margin-top: 40px">
    {% if opozorilo%}
    <div class="alert alert-warning">
       {{opozorilo}}
    </div>
    {% endif %}
    {% if student %}
    <p>Študent z vpisno številko {{student.vpisna_stevilka }} in email-om {{student.email}} se lahko vpišeš</p>
        {% if vpisi %}
        <table class="table">
            <tr>
                <td>Vpis za leto</td>
                <td>Sprejet</td>
            </tr>
            {% for vpis in vpisi %}
            <tr>
                <td>{{ vpis.studijsko_leto.ime }}</td>
                <td>{{ vpis.potrjen }}</td>
                <td><form action="/vpis/vpisni_list/{{ vpis.student.vpisna_stevilka }}/{{ vpis.studijsko_leto.ime }}/" method="get">
                    <button type="submit" class="btn btn-outline-primary">Prenesi Vpisni list</button>
                </form></td>
            </tr>
            {% endfor %}
        </table>


        {% endif %}
    <h3>Prvi korak:</h3>
    <h2>Podatki o študentu</h2>
    
    
    <form action="/vpis/" method="post">
        {% csrf_token %}
        
        {{ studentform }}
        {% if gumbobstaja or gumbobstaja == None %}
        <button type="submit" class="btn btn-outline-primary mt-1">Naslednji korak</button>
        {% endif %}
    </form>
    <script>
        $(document).ready(function(){
          $( "#id_ima_zacasno" ).change(function() {
            var $input = $( this );
             if ($input.is( ":checked" )){   	
                id_ima_posto_na_zacasni
                 $("#id_naslov_zacasno_bivalisce").show();
                 $("#id_ima_posto_na_zacasni").show();
                 $("#id_drzava_zacasno").show();
                 $("label[for='id_naslov_zacasno_bivalisce").show();
                 $("label[for='id_drzava_zacasno']").show();
                 $("label[for='id_ima_posto_na_zacasni']").show();
             }else{
                $("#id_ima_posto_na_zacasni").hide();
                $("#id_naslov_zacasno_bivalisce").hide();
                 $("#id_drzava_zacasno").hide();
                 $("#id_obcina_zacasno").hide();
                 $("#id_posta_zacasno").hide();
                 $("label[for='id_naslov_zacasno_bivalisce']").hide();
                 $("label[for='id_drzava_zacasno']").hide();
                 $("label[for='id_obcina_zacasno']").hide();
                 $("label[for='id_posta_zacasno']").hide();
                 $("label[for='id_ima_posto_na_zacasni']").hide();
             }
          }).change();
          $( "#id_drzava_zacasno" ).change(function() {
                if ($('#id_drzava_zacasno').val() == 705){
                    $("#id_obcina_zacasno").show();
                    $("#id_posta_zacasno").show();
                    $("label[for='id_obcina_zacasno']").show();
                    $("label[for='id_posta_zacasno']").show();
                }
                else{
    	            $("#id_obcina_zacasno").hide();
                    $("#id_posta_zacasno").hide();
                    $("label[for='id_obcina_zacasno']").hide();
                    $("label[for='id_posta_zacasno']").hide();
                }
                }).change();
            
            $( "#id_drzava" ).change(function() {
                if ($('#id_drzava').val() == 705){
                    $("#id_obcina").show();
                    $("#id_posta").show();
                    $("label[for='id_obcina']").show();
                    $("label[for='id_posta']").show();
                }
                else{
    	            $("#id_obcina").hide();
                    $("#id_posta").hide();
                    $("label[for='id_obcina']").hide();
                    $("label[for='id_posta']").hide();
                }
                }).change();
                
            $( "#id_drzava_rojstva" ).change(function() {
                if ($('#id_drzava_rojstva').val() == 705){
                    $("#id_obcina_rojstva").show();
                    $("label[for='id_obcina_rojstva']").show();
                }
                else{
                    $("#id_obcina_rojstva").hide();
                    $("label[for='id_obcina_rojstva']").hide();
                }
                }).change();
          
        });
        
        </script>

    {% endif %}
</div>
{% endblock %}