{% include "base.html" %}


{% block content %}

<div class="container sifrant">
    
    <h2>Shranjeni predmeti</h2>

        <ul class="list-group mycard">
            {% for t in predmeti %}
                
                <li class="list-group-item" >
                    {{ t }}
                    <input type="checkbox" class="form-check-input" checked hidden name="izbran-predmet"  id= {{ v.id }} >
                </li>
            
            {% endfor %}
        </ul>
    
</div>
{% endblock %}