{% include "base.html" %}


{% block content %}

<div class="container sifrant">
    
    <h2>Predmeti za {{letnik}} letnik</h2>

    <div class="row mt-4" id="predmeti" data-base = {{ KT }} >


        <ul class="list-group mycard">
            <li class="list-group-item list-group-item-dark">Obvezni predmeti</li>
        {% for t in predmeti_o %}
            <li class="list-group-item">{{ t }}</li>
          

        {% endfor %}
        </ul>
    
     
        <ul class="list-group mycard" id="izbirni-predmeti">
            <li class="list-group-item list-group-item-primary">Izbirni predmeti</li>
            {% for t in predmeti_i %}
            <li class="list-group-item">{{ t }} <span style="float: right"><input type="checkbox" class="form-check-input"></span></li>
        

        {% endfor %}
        </ul>
       

        {% if so_moduli  %}
        
        <ul class="list-group mycard" id="modul-predmeti">
            <li class="list-group-item list-group-item-success">Moduli</li>
        {% for t in predmeti_m %}
            <li class="list-group-item">
               
                <input type="checkbox" class="form-check-input col-sm-3">
                <ul class="list-group list-group-flush">

                {% for p in t %}
                    
                    <li class="list-group-item">{{ p }}<span style="float: right; margin-right: -15%"><input type="checkbox" class="form-check-input"></span></li>
                   
                {% endfor %}
                 </ul>
                
            </li>

        {% endfor %}
        </ul>
       
        {% endif %}

    <div>
        <h4>Skupaj kreditnih točk: <span id="skupaj-kt-tock">{{ KT }}</span></h4>
        <div class="alert alert-success d-none" id="ok">
            Izpolnjeni pogoji.
            <button class="btn btn-outline-success">Končaj vpis</button>
        </div>
        <div class="alert alert-warning d-none" id="notok">
            Potrebnih je 60 kreditnih točk.
        </div>
    </div>
    </div>

</div>
{% endblock %}