{% include "base.html" %}


{% block content %}

<div class="container sifrant" data-letnik={{letnik.ime}} data-prosta={{prosta_izbira}}>
    
    <h2>Predmeti za {{letnik}} letnik</h2>
    <div class="row row-equal-height">
        <div class="alert alert-success d-none col-sm-6" id="ok">
            
            <form method="post" action="izpis/" style="margin: 0; padding: 0;">
                {% csrf_token %}
                Izpolnjeni pogoji.
                <input type="text" hidden value="" name="vsi-id" id="vsi-id">
                <button class="btn btn-outline-success" type="submit">Končaj vpis</button>
            </form>
        </div>
        <div class="alert alert-warning d-none col-sm-6 " id="notok">
            Potrebnih je 60 kreditnih točk.
        </div>

        <div class="col-sm-6 align-self-center mb-2">
            <h4>Skupaj kreditnih točk: <span id="skupaj-kt-tock">{{ KT }}</span></h4>
        </div>

    </div>
    
    <div class="row" id="predmeti">


        <ul class="list-group mycard col-sm-4">
            <li class="list-group-item" style="background-color:#C3DBF7">Obvezni predmeti</li>
            {% for t in predmeti_o %}
    
                <li class="list-group-item" >
                    {{ t.ime }} 

                    <span style="float: right"><input type="checkbox" checked disabled class="form-check-input" name="izbran-predmet" id= {{ t.id }} data-kt={{t.kreditne_tocke}}> <label> {{ t.kreditne_tocke }} KT</label></span>
                </li>
                
            {% endfor %}
        </ul>
    
        {% if letnik.ime != "1."  %}
     
        <ul class="list-group mycard col-sm-4" id="izbirni-predmeti">
            <li class="list-group-item" style="background-color:#FFF2C5">Izbirni predmeti</li>
            {% for t, s in predmeti_i %}
             
                <li class="list-group-item">
                  
                    {{ t }} 
                    {% if s and letnik.ime == "2." %}
                    <i>- strokovni</i>
                    {%  else %}
                    <i>- splošni</i>
                    {% endif %}
                    <span style="float: right"><input type="checkbox" class="form-check-input" name="izbran-predmet" id= {{ t.id }} data-kt={{t.kreditne_tocke}} data-st={{s}}> <label> {{ t.kreditne_tocke }} KT</label></span>

                </li>
             
         
            {% endfor %}
        </ul>
       {% endif %}

        {% if letnik.ime == "3."  %}
        
        <ul class="list-group col-sm-4" id="modul-predmeti">
            <li class="list-group-item" style="background-color:#CCC7F8">Moduli</li>
        {% for t, name in predmeti_m %}
            <li class="list-group-item dropdown-l">
                
                
               
                <span class="ml-2"><input type="checkbox" class="form-check-input" id="modul-{{forloop.counter}}" name="modul-box">
                <label>
                    <h5><strong>{{name}}</strong></h5>
                </label>
                 </span>

                <ul class="list-group list-group-flush" style="display: none">

                {% for p in t %}
                    
                    <li class="list-group-item no-border" >
                        
                        
                        <span style="float:right ">
                            <input style="float:right" type="checkbox" class="form-check-input" name="izbran-predmet" id= {{ p.id }} data-kt={{p.kreditne_tocke}}> 
                            <label> {{p.kreditne_tocke }} KT</label>

                        </span>
                        <label>{{ p }} </label>
                    

                    </li>
                   
                {% endfor %}
                 </ul>
                
            </li>

        {% endfor %}
        </ul>
       
        {% endif %}

    </div>
    
</div>
{% endblock %}