<head>
    <meta charset="UTF-8"> 
    <style>
    th, td{
      text-align:left;
      width:220px;
      height:30px;
      border-bottom: 1px solid #ddd;
    }

    </style>
</head>

<div style="height:30px">
</div>

<h3>{{predmet}}</h3>
<h5>{{leto}}</h5>

<table>
    <thead>
        <tr>
          <th scope="col"  >#</th>
          <th scope="col"  >Priimek</th>
          <th scope="col"  >Ime</th>
          <th scope="col"  >EMŠO</th>
          <th scope="col"  >Vpisna številka</th>
          <th scope="col"  >Email</th>
          <th scope="col" >Naslov</th>
          <th scope="col" >Telefon</th>
        </tr>
      </thead>
</table>
{% if students %}
<table>
<tbody>

  {% for t in students %}
    <tr>
      <td >{{ forloop.counter }}</td>
      <td >{{ t.priimek }}</td>
      <td >{{ t.ime }}</td>
      <td >{{ t.emso }}</td>
      <td >{{ t.vpisna_stevilka }}</td>
      <td >{{ t.email }}</td>
      <td >{{ t.naslov_stalno_bivalisce }}</td>
      <td >{{ t.telefon }}</td>
  
    </tr>
  {% endfor %}
   
</tbody>
</table>

{% endif %}