{% extends 'base.html' %}
{% block content %}
<div class="container sifrant">
    <h3>Vpisani studenti</h3>
    <form action="/student/preveri_seznam/" method="post">
        {% csrf_token %}
        <button type="submit" name="prikaz_seznama" class="btn btn-outline-primary mt-2">Seznam potrjenih studentov</button>
    </form>
    <table class="table">

        <thead>
            <tr>
                <th scope="col">Vpisna stevilka</th>
                <th scope="col">Ime in priimek</th>
                <th scope="col">Vrsta vpisa</th>
                <th scope="col">Letnik/dodatno leto</th>
                <th scope="col">Studijski program</th>
                <th scope="col">Potrjen</th>
                <th scope="col">Potrdi vpis</th>
            </tr>
        </thead>
        {% for vpis in arr %}
        <tr>
            <td>{{ vpis.student.vpisna_stevilka }}</td>
            <td>{{ vpis.student.priimek }}, {{ vpis.student.ime }}</td>
            <td>{{ vpis.vrsta_vpisa.opis }}</td>
            <td>{{ vpis.letnik.ime }}</td>
            <td>{{ vpis.studijski_program.naziv }}</td>
            {% if vpis.potrjen == False %}
            <td>Ne</td>
            {% else %}
            <td>Da</td>
            {% endif %}
            <form action="/student/potrdi_studente/" method="post">
                {% csrf_token %}
                <td>
                    {% if vpis.potrjen == False %}
                    <button type="submit" name="potrdi_studenta" class="btn btn-outline-primary mt-2">Potrdi vpis</button>
                    {% endif %}

                </td>
                
            </form>
        </tr>
        {% endfor %}

</div>


{% endblock %}