{% extends 'base.html' %}

{% block title %}Uvoz studentov{% endblock %}

{% block content %}
<div class="container sifrant">

<h3>Vsi študenti</h3>

<table class="table">
	<thead>
	    <tr>
	      <th scope="col">Vpisna številka</th>
	      <th scope="col">Ime</th>
	      <th scope="col">Priimek</th>
	      <th scope="col">Uporabniško ime</th>
	    </tr>
  	</thead>
{% for t in arr %}
	<tr>
	{% for k,v in t.items %}
	
		<td>{{ v }}</td>
	
	{% endfor %}
	</tr>
{% endfor %}

	<form action="/student/uvoz/" method="post">
		{% csrf_token %}
    	<button type="submit" class="btn btn-outline-primary mb-2">Uvozi datoteko</button>
	</form>
	<form action="/student/isci/" method="post">
		{% csrf_token %}
		<input type="text" name="search_text">
    	<button type="submit" class="btn btn-outline-primary mb-2">Išči</button>
	</form>
</div>
{% endblock %}