{% extends 'base.html' %}

{% block title %}Uvoz studentov{% endblock %}

{% block content %}
<div class="container sifrant">

<h3>Vsi študenti</h3>

<table class="table">
	<thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Priimek</th>
	      <th scope="col">Ime</th>
	      <th scope="col">Vpisna številka</th>
	      <th scope="col">Email</th>
	      <th scope="col"></th>
	      <th scope="col"></th>
	    </tr>
  	</thead>
{% for t in arr %}
	
	<td>{{ forloop.counter }}</td>
	
	{% for k,v in t.items %}
	
		<td>{{ v }}</td>
	
	{% endfor %}
	<td><a href="ustvari-zeton/{{ t.id }}">Ustvari vpisni žeton</a></td>
	<td><a href="podatki/{{ t.id }}">Izpiši vse podatke</a></td>
	</tr>
{% endfor %}


	<form action="/student/isci/" method="post">
		{% csrf_token %}
		<input type="text" name="search_text">
    	<button type="submit" class="btn btn-primary mb-2 mr-2 ml-1">Išči</button>
	</form>
	<form action="/student/seznam-zetonov/" method="post">
		{% csrf_token %}
    	<button type="submit" class="btn btn-outline-primary mb-2 mr-2">Seznam vpisnih žetonov</button>
	</form>
	<form action="/student/izvoz/pdf/" method="post">
		{% csrf_token %}
    	<button type="submit" class="btn btn-outline-secondary mb-2 mr-2">Izvozi PDF</button>
	</form>

	<form action="/student/izvoz/csv/" method="post">
		{% csrf_token %}
    	<button type="submit" class="btn btn-outline-secondary mb-2 mr-2">Izvozi CSV</button>
	</form>
</div>
{% endblock %}