{% extends 'base.html' %}

{% block title %}Pregled vpisnih žetonov{% endblock %}

{% block content %}
<div class="container sifrant">

<h3>Vsi vpisni žetoni</h3>
{% if message %}<h4 class="alert {{ msg_type }}"> {{ message }} </h4>{% endif %}
<table class="table">
	<thead>
	    <tr>
		  <th>#</th>
	      <th scope="col">Vpisna številka</th>
	      <th scope="col">Študijski program</th>
	      <th scope="col">Letnik</th>
          <th scope="col">Vrsta vpisa</th>
          <th scope="col">Način študija</th>
          <th scope="col">Vrsta študija</th>
          <th scope="col">Pravica do izbire predmeta v tretjem letniku</th>
	    </tr>
  	</thead>
{% for t in arr %}
	<tr>
		<td>{{ forloop.counter|add:arr.start_index|add:"-1"}}</td>
		<td>{{t.student}}</td>
		<td>{{t.studijski_program}}</td>
		<td>{{t.letnik}}</td>
		<td>{{t.vrsta_vpisa}}</td>
		<td>{{t.nacin_studija}}</td>
		<td>{{t.vrsta_studija}}</td>
		<td>{{t.pravica_do_izbire}}</td>
	
	
	<td><a href="/student/uredi-zeton/{{ t.id }}">Uredi</a></td>
	<td><a href="/student/izbrisi-zeton/{{ t.id }}">Izbriši</a></td>
	</tr>
{% endfor %}
</table>
<div>
	<ul class="pagination">
	 
	{% if arr.has_previous %}
		<li class="page-item">
			<a href="?page={{ students.previous_page_number }}" class="page-link">&laquo;</a>
		</li>
	{% else %}
		<li class="page-item disbled">
			<a class="page-link">&laquo;</a>
		</li>
	{% endif %}

	  {% for pg in arr.paginator.page_range %}
		{% if arr.number == pg %}
		  <li class="page-item active">
			  <a href="?page={{pg}}" class="page-link">{{pg}}</a>
		  </li>
		{% else %}
		  <li class="page-item">
			  <a href="?page={{pg}}" class="page-link">{{pg}}</a>
		  </li>
		{% endif %}
	{% endfor %}
   

	{% if students.has_next %}
		<li class="page-item">
			<a href="?page={{ arr.next_page_number }}" class="page-link">&raquo;</a>
		</li>
	{% else %}
		<li class="page-item disbled">
			<a class="page-link">&raquo;</a>
		</li>
	{% endif %}

	   
	</ul>
</div>
</div>
{% endblock %}