{% extends 'base.html' %}

{% block title %}Dodaj vpisni žeton{% endblock %}

{% block content %}
<div class="container sifrant">
{% if user.is_authenticated %}

    <h1>Prosimo, vnesite zahtevane podatke:</h1>
    {% if message %}
    <h2>{{ message }}</h2>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        
        <table>
            {{ tokenForm.as_table }}
        </table>
        <button type="submit" class="btn btn-outline-success">Ustvari žeton za vpis</button>
      
    </form>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
</div>
{% endblock %}