{% extends 'base.html' %}

{% block title %}Dodaj vpisni žeton{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <a href="{% url 'logout' %}">logout</a>
    {% if message %}
    <h1>{{ message }}</h1>
    {% endif %}
    <h1>Prosimo, vnesite zahtevane podatke:</h1>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="stud">Vpisna številka študenta</label>
            <input type="number" class="form-control" name="stud" id="stud" required>
        </div>
        <div class="form-group">
            <label for="stud_prog">Študijski program</label>
            <select name="stud_prog" id="stud_prog">
                <option value="DIPL" selected>DIPL</option>
                <option value="MAG">MAG</option>
                <option value="DR">DR</option>
            </select>
        </div>
        <div class="form-group">
            <label for="letnik">Letnik</label>
            <select name="letnik" id="letnik">
                <option value="1." selected>1. letnik</option>
                <option value="2.">2. letnik</option>
                <option value="3.">3. letnik</option>
            </select>
        </div>
        <div class="form-group">
            <label for="vrsta_vpisa">Vrsta vpisa</label>
            <select name="vrsta_vpisa" id="vrsta_vpisa">
                <option value="PRVI" selected>Prvi</option>
                <option value="PONO">Ponovni</option>                
                <option value="ABSO">Absolvent</option>
            </select>
        </div>
        <div class="form-group">
            <label for="nac_stud">Način študija</label>
            <select name="nac_stud" id="nac_stud">
                <option value="RED" selected>Redni</option>
                <option value="IZR">Izredni</option>
            </select>
            <label for="vrst_stud">Način študija</label>
            <select name="vrst_stud" id="vrst_stud">
                <option value="UNI" selected>Univerzitetni</option>
                <option value="VSŠ">Visokošolski</option>
            </select>

        </div>
        <div class="form-group">
            <label for="predmet_choice">Pravica do proste izbore predmetov</label>
            <input type="checkbox" class="form-control" name="predmet_choice" id="predmet_choice">
        </div>

        <button type="submit" class="btn btn-default">Ustvari žeton za vpis</button>
      
    </form>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}